<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mov!e BUZZ</title>
    <style>
        body{
        background-image: url('https://image.freepik.com/free-vector/cinema-movie-theater-with-blank-screen-red-seat_34230-250.jpg');
        background-repeat: no-repeat;
        background-size: 100% 170%;
        }
        h1{
            color:white;
        }
        table{
            margin-top:7%;
        }
        table,th,td{
            border:1px solid black;
        }
        th,td{
            color:black;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="sub-container">
            <center><table cellpadding="10px">
                <center><h1>Bookings!!!</h1></center>
                <tr>
                    <th>S.No.</th>
                    <th >Movie Name</th>
                    <th >Screen No.</th>
                    <th >TIME</th>
                    <th >Seats Booked</th>
                </tr>
                <% var i =1%>
                <% admin1.forEach((row)=>{%>
                <tr>
                    <td><center><%= i++%></center></td>
                    <td><center><%= row.movieName%></center></td>
                    <td><center><%= row.screeNo%></center></td>
                    <td><center><%= row.time%></center></td>
                    <td><center><%= row.isBooked%></center></td>
                </tr>
                <% });%>
                <% admin2.forEach((row)=>{%>
                    <tr>
                        <td><center><%= i++%></center></td>
                        <td><center><%= row.movieName%></center></td>
                        <td><center><%= row.screeNo%></center></td>
                        <td><center><%= row.time%></center></td>
                        <td><center><%= row.isBooked%></center></td>
                    </tr>
                <% });%>
                <% admin3.forEach((row)=>{%>
                    <tr>
                        <td><center><%= i++%></center></td>
                        <td><center><%= row.movieName%></center></td>
                        <td><center><%= row.screeNo%></center></td>
                        <td><center><%= row.time%></center></td>
                        <td><center><%= row.isBooked%></center></td>
                    </tr>
                <% });%>
                <% admin4.forEach((row)=>{%>
                    <tr>
                        <td><center><%= i++%></center></td>
                        <td><center><%= row.movieName%></center></td>
                        <td><center><%= row.screeNo%></center></td>
                        <td><center><%= row.time%></center></td>
                        <td><center><%= row.isBooked%></center></td>
                    </tr>
                <% });%>
                <% admin5.forEach((row)=>{%>
                    <tr>
                        <td><center><%= i++%></center></td>
                        <td><center><%= row.movieName%></center></td>
                        <td><center><%= row.screeNo%></center></td>
                        <td><center><%= row.time%></center></td>
                        <td><center><%= row.isBooked%></center></td>
                    </tr>
                <% });%>
                <% admin6.forEach((row)=>{%>
                    <tr>
                        <td><center><%= i++%></center></td>
                        <td><center><%= row.movieName%></center></td>
                        <td><center><%= row.screeNo%></center></td>
                        <td><center><%= row.time%></center></td>
                        <td><center><%= row.isBooked%></center></td>
                    </tr>
                <% });%>
                    
            </table></center>
        </div>
    </div>
</body>
</html>